 h3{
     text-align: center;
 }
 article, section{
     padding: 40px;
     padding-bottom: 0;
 }
 .firstDescrip{
     text-align: center;
     text-align: -webkit-center;
 }
 .descripDetales{
     display: inline-flex;
     width: 100%;
     justify-content: center;
 }
 .descripPhoto{
     width: 41%;
     height: 439px;
     margin-right: 30px;
 }
 .descripPhoto img{
     width: 100%;
     height: 100%;
     object-fit: cover;

 }
 .descripVideo{
     width: 55%;
     height: 439px;
 }
 .descripsBlock{
     /* width: 97%; */
 }

 .rightdescrip{
     margin-right: 10px;
 }
 .rightdescrip1 img{
     /* width: 100%; */
 }
 .lastArt{
     padding-bottom: 40px;
 }
 .leftImg{
     width: 483px;
 }
.descripsBlock p{
      padding-bottom: 0;
     /* padding-top: 50px; */
 }
 .descrips{
     display: inline-flex;
     /* padding:0px 100px 0px 100px; */
 }
 .sphoto img{
     width: 100%;
     height: 300px;
     object-fit: cover;
     filter: brightness(1) !important;
 }
 .secondPhotos{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    
 }
 .sphoto{
     margin: 5px;
     width: 33%;
 }
 /* .rightdescrip img{
     width: 440px;
     height: 300px;
     margin: 15px;
 } */
  
 @media screen and (max-width:767px){
    .descripDetales{
        display:block
    }
    .descripPhoto, .descripVideo{
        margin: auto;
        width: 98%;
    }
    .secondPhotos{
        display: block;
    }
    iframe{
        width: 99%;
    }
    .sphoto{
        width: 98%;
    }
    .descrips{
        display: block;
    }
    .rightdescrip{
        width: 100%;
    }
    .rightdescrip img{
        width: 100%;
    }
}

 