.home-page:last-child{
  background:rgba(0, 0, 0, 0.3)
}


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  height: calc(100vh - 50px);
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  width: 800px;
  text-align: center;
  z-index:9999;
}

.each-slide span a{
    font-family: "Heebo", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #dbba90;
    background-color: rgba(219,162,87,0);
}
 
 .sliderMask{
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  height:100vh;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 1;
 }

 .first-col{
  width: 50%;
 }
 .second-col{
   width: 50%;
 } 
 .maintext{
   padding: 15px;
   padding-bottom: 0;
  }
 
 .caption span{
  margin: 0px 0px 30px 0px;
  font-family: "Tahoma", sans-serif;
  font-size: 36px;
  font-weight:bolder ;
  text-transform: none;
  line-height: 1.8em;
  letter-spacing: -0.2px;
  color: #dbab6b;
  display: block;
 }

 .typ{
  color: #808080;
}

.typ{
  font-family: 'Playfair Display', serif;
  color: #000;
  font-size: 15.5px;
}

.card1{
  position: relative;
  width: 98%;
  height: 277px;
  margin: 5px;
}

.card1 img{
  width: 100%;
  height: 100%;
  filter: brightness(1);
  transition: ease 0.3s;
  object-fit:cover;
  object-position: 50% 10%;
}
.card:hover img{
  filter: brightness(0.5);
  transition: ease 0.3s;
}


.card1:hover img{
  filter: brightness(0.5);
  transition: ease 0.3s;
}

.card{
  height: 277px;
   margin: 5px;
  position: relative;
}

.box-with-icon{
  display: inline-flex;
  position: absolute;
    bottom: 0px;
    padding: 15px;
    width: 90%;
    right: 0;
    left: 0;
}
.box-with-icon i{
  transition: 0.3s;

}
.elm2 h3{
  margin-bottom: 0;
}

.box-with-icon:hover i{
  transform: rotate(-30deg);
  width: 55px;
  height: 55px;
  transition: 0.3s;
  font-size: 50px;
  background-color: rgba(117,0,0,0.3);
}

.card img, .contactCards img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider{
     width: 50px;
     height: 5px;
    background: #560000;
    float: right;
    margin-top: 35px;
}

.director{
  display: inline-block;
  color: #ffffff;
  background-color: #560000;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 1em;
  text-shadow: -5px 0px 25px rgba(0,0,0,0.31);

}  

.col1, .col2{
  padding: 15px;
  width: 295px;
}

.col2 h2{
  font-size: 50px;
  margin: 0;
}
.col2 p{
  font-size: 21px;
    text-transform: uppercase;
    line-height: 1em;
    color:white !important
}
.heading{
  width:100%;
  height: 165px;
  float: right;
  justify-content: flex-end;
  display: flex;
}

.firstSection{
  padding: 0 !important;
  display: inline-flex;
  width: 100%;
  background: white;
  justify-content: center;
}

.content1 img{
  width: 100%;
  height: 408px;
  float: right;
  object-fit: cover;
}

.content1{
  width: 100%;
}

.elm1 img{
  width: 185px;
  height: 52px;
  filter: none !important;
}

.name{
  color: #dbb88e;
  font-size: 20px;
  line-height: 1em;
}

.dir{
  color: rgba(86,86,86,0.57);
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
 
.overlay{
  background-image: url(../images/bgoverlay.jpg);
  height: 559px;
  background-size: cover;
  position: fixed;
  /* bottom: 0px; */
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-position: bottom;
}

.bgAnalitics{
  padding: 0 !important;
  width:100%;
  height: 559px;
  background: rgba(0, 0, 0, 0.6);
}



.analiticBlock{
  position: absolute;
  width: 100%;
  height: calc(100% - 170px);
  text-align: center;
  right: 0;
  left: 0;
  padding-top: 50px;
}

.analiticIcons{
  display: inline-flex;
}
.analiticIcons div i{
  font-size: 1em; 
  color: #560000;;
}

.analiticHeading h1{
  color: #dbab6b;
  line-height: 1em;
  font-size: 3em;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.analiticHeading p{
  display: inline-block;
    color: #dbab6b;
    background-color: rgba(219,163,89,0.02);
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1em;
}

.analiticCard{
  margin: auto;
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,0.12);
  display: block;
  border-radius: 100%;
  padding: 23px;
  transition: 0.5s;
}

.analiticCard:hover{
  margin: auto;
  width: 20px;
  height: 20px;
  background:white;
  display: block;
  border-radius: 100%;
  padding: 23px;
}

.counter span, .counter p{
  color: #dbab6b;
  margin: 0;
  text-align: center;
}

.abouteIcon i{
  border-radius: 100%;
  font-size: 25px;
    width: 47px;
    height: 47px;
    line-height: 47px;
    color: #dbb88e;
    background-color: rgba(117,0,0,0.71);
}

.abouteText h3, p{
  margin: 0;
  text-align: left;
  
}
.abouteText h3{
    font-size: 28px;
    color: #dbab6b;
    text-align: left;
}
.abouteText{
  margin-left: 5px;
  
}
.abouteText p{
  color:#dbab6b !important;
  line-break: anywhere;
}

.fa-info:before {
  position: relative;
  left: 19px;
  right: 0;
}

 

.fa-product-hunt:before{
  position: relative;
  left: 10px;
  right: 0;
}

.fa-tablet:before{
  position: relative;
  left: 15px;
  right: 0;
}

.abouteText p{
  font-family: "Heebo", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: lowercase;
    color: rgba(219,171,107,0.85);
    background-color: rgba(0,0,0,0);
    text-align: left;
    padding-left: 0;
}



.counter span:first-child{
  font-family: Tahoma, sans-serif;
  font-size: 45px;
  color:#dbab6b !important;
  font-weight: 700
}

.counter p:last-child{
  font-family: Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color:#dbab6b !important;
}

.analiticGlobal{
  padding: 15px;
  min-width: 203px;

}
.lastText{
    display: block;
    text-align: right;
    width: 100%;
}
.lastText h3{
  text-align: right;
}

@media screen and (max-width: 1024px){
  .row1{
    flex-wrap: wrap;
  }
.card1{
  width: 96%;
  margin: auto;
 }
.col2, .col1{
  padding: 0;
}
.col2{
  width: 100%;
  text-align: center;
}
.card{
  width: 98%;
}
.adapt{
  width: 48%;
  margin: 0px;
}
.firstSection{
  display: block;
}
.first-col, .second-col, .first-col .heading{
  width: 100%;
}
.heading{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.heading1{
  width: 100% !important;
}
.content1 img{
  object-position: 50% 15%;
}

.analiticIcons{
  flex-wrap: wrap;
  justify-content: center;
}
}

@media screen and (max-width: 767px){
  .card1, .adapt{
    width: 95%;
  }
  .card1{
    margin: auto;
  }
}

@media screen and (max-width: 465px){
 .bgAnalitics{
   height: 1000px;
 }
 .heading{
   display: block;
   height: unset;
   width: 100%;
 }
 .heading1{
   display: block !important;
 }
 .col1{
   width: unset;
 }
}
/* media */

 



