.events-page{
    text-align: center;
    padding-top: 120px;
    background: black;
}
.event-card{
    width: 100%;
    height: 400px;
    display: inline-flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 16px 33px rgba(119,110,171,.11);
}
.event-img{
    width: 40%;
}
.event-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     
}
.event-detales{
    padding: 10px;
    width: 60%;
    background: #570707;
}
.event-detales p, .event-detales h3{
    color:white !important
}

.gallery-slide{
    width: 100%;
}
.all-images{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;  
    position: relative;
    
}
.all-images img{
    object-fit: cover;
}
.big{
    width: 100%;
    height: 250px;
}
.small{
    width: 100%;
    height: 200px;
}
.mid{
    width: 100%;
    height: 300px;
}
.imgs{
    width: 266px;
}



.noslide{
  display: none;
}


.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0.8);
  }

.slider div{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.slider div img{
  width: 70%;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}
.slider .MuiSvgIcon-root{
  color:white;
  font-size: 3.5em !important;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.react-photo-gallery--gallery img{
    filter: brightness(1) !important;
}