.overlay2{
    background-image: url(../../images/contactP.jpg);
    /* height: 559px; */
    background-size: cover;
    position: fixed;
    /* bottom: 0px; */
      top: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      background-position: top;
  }
  hr{
    margin-left: 0;
  }
  .contacts h3{
      margin-top: 0;
      color: #ffcc99;
      font-size: 36px;
      padding: 20px;
  }
  .bgc{
    width:100%;
    height: 200px;
    padding: 0 !important;
   }
.contact-cards{
  display: block !important;
}
.card-content{
  width: 70%;
}
.card-content p{
  color: #ffcc99 !important;
  font-weight: 900;
}
.contact-detales p{
  color: #999999 !important;
  font-weight: 100 !important;
}
.contact-detales{
    display: inline-flex;
    flex-wrap: wrap;
}
   .contact-card{
     display: inline-flex;
     justify-content: left;
     flex-wrap: wrap;
     width: 100%;
   }
   .contact-card img{
     width: 250px;
     /* height: 250px; */
     object-fit: scale-down;
     margin: 25px;
     object-position: top;
     filter: brightness(1) !important;
   }

   @media only screen and (max-width:420px){
     .contactSection, .bgc{
       padding: 0 !important;
     }
     .contact-card{
       justify-content: center;
     }
   }
    