.row1{
  width: 100%;
  display: inline-flex;
  /* flex-wrap: wrap; */
  background: white;
  justify-content: center;
  padding-top: 20px;
}
.fcard:hover img{
  filter: brightness(0.5);
  transition: ease 0.3s;
}
.fcard img{
  width: 100%;
  height: 100%;
}
.fcard{
  height: 277px;
   margin: 5px;
  position: relative;
}

.card2{
  width: 100%;
  height: 277px;
  margin: 5px;
  position: relative;
}


.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background: white;
    text-align: center;
  }
  
  .contactCards:first-child{
    width: 565px;
    height: 300px;
  }
  
  iframe{
    width: 100%;
    height: 100%;
  }
  
  .map{
    display: inline-flex;
  }
  
  .contactCards{
    padding: 15px;
    margin: 15px;
    height: 300px;
    width: 300px;
  }
  
  .contactForms{
    display: inline-flex;
  }
  form div input{
    color: #560000;
    border: 1px solid #72001e;
    margin-bottom: 30px;
    width: 90%;
    height: 32px;
  }
  
  form div textarea{
    color: #560000;
    border: 1px solid #72001e;
    margin-bottom: 30px;
    width: 90%;
    height: 153px;
  }

  form div h6{
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0;
    position: relative;
    left: 550px;
    text-transform: none;
    top: -55px;
    width: 20%;
    margin: 0;
  }
  
  form button{
    font-family: "Heebo", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #ffffff;
      background-color: #560000;
      width: auto;
      border: none;
      font-size: 15px;
      padding: 10px 40px;
      text-transform: uppercase;     
  }

  .divider{
    margin-top: 15px;
    background-color: black;
  } 

  .contactForms{
      margin-top: 40px;
      width: 100%;
  }

  .heading1{
    width: 40%;
    display: inline-flex;
  }
  .form{
    width: 60%;
  }
  .form h3{
    padding-left: 40px;
    float: left;
    color: black !important;
  }
  .col2{
    padding-top: 0;
    text-align: left;
  }
  .col2 h2{
    color: black !important;
  }


  @media screen and (max-width: 1024px){
    .fcard{
      width: 48%;
    }
    .contactForms{
      display: block;
    }
    .form{
      width: 100%;
    }
  }

  @media screen and (max-width: 767px){
    .fcard{
      width: 95%;
    }
     
  }

 


/* @media only screen and (max-width:1345px){
    .map{
        display: block;
    }
    .contactForms{
        display: block;
    }
    .contactCards:first-child {
        width: calc(100% - 50px);
        height: 300px;
        margin: 0;
    }
    .contactsCards{
        width: 100%;
    }
    .contactCard img{
        width: 100%;
    }
    .contactCard {
        height: 300px;
        width: 100% !important;
        padding: 10px !important;
    }
    .contactForms .heading{
        justify-content: center;
    }
}

@media only screen and (max-width:900px){
    form div input, form div textarea{
        width: 90%;
    }
    .footer-contact div hr{
        width: 90% !important;
    }
}

@media only screen and (max-width:800px){
    .contactsCards{
      display: block !important;
    }
    .contactCard{
      width: 95% !important;
    }
    .contactCard img{
      width: 90% !important;
    }
  }

@media only screen and (max-width:600px){
    form div input, form div textarea{
        width: 90%;
    }
    .heading{
        display: block;
    }
    
}

@media only screen and (max-width:300px){
    form div input, form div textarea{
        width: 90%;
    }
    .footer-contact div hr{
        width: 90% !important;
    }
}

.form{
    margin-top: 40px !important;
}

.contactCard{
    height: 300px;
    width: 320px;
    padding: 30px;
}
.contactCard img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.contactsCards{
    display: inline-flex;
}  */
