footer{
    background: #161616 !important;
}

footer p{
    color: rgba(255,255,255,0.67);;
}

.footer-contents{
    padding-top: 60px;
    padding-bottom: 60px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.footer-logo{
    padding-left: 30px;
    padding-right: 30px;
    width: 419px;
    text-align: center;
}

.footer-logo img{
    filter: brightness(1) !important;
}


.footer-contact div p{
    font-family: auto;    
}

.copyright{
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright p{
    margin: 0;
    text-align: center;
}

footer>hr{
   border-color: #2d2b2b;
}

.footer-contact div i{
    padding-right: 12px;
    color: #d1ac67;
}
.footer-contact div hr{
    border-color: #5B5B5B;
    width: 419px;
}

.footer-contact div p{
    margin: 5px;
    font: 13px 'a'
}

.footer-slogan .slogan{
    padding: 50px 0px 0px 20px;
    text-align: right;
}

.footer-slogan .slogan p{
    color: rgba(255,255,255,0.67);
    font-size: 13px;
}
.slogan{
    display: block;
}
.slogan p{
    color:white !important
}

.slogan p:last-child{
    float:right
}

.footer-slogan .slogan p span{
    padding-right: 60px;
}
.footer-icons{
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.footer-icons a i {
    background-color: #d1ac67;
    color: white;
    padding: 8px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100px;
    transition: 0.1s;
  }
  .footer-icons a:hover i{
    font-size: 12px;
   }

  hr{
    width: 80% !important;
  }

  @media only screen and (max-width:1024px){
      .footer-contents{
          display: block;
          text-align: center;
      }
      .footer-logo{
          padding: 0;
          width: 100%;
      }
      .slogan p{
          text-align: center;
      }
      .footer-contact div p{
        text-align: center;
        }
  }
 