.container{
    position: absolute;
    width: 100%;
    z-index: 12;
    background:rgba(0,0,0,0);
    margin-top: 25px;
    

}

.logo1{
    filter: brightness(1) !important;
}

.stycky{
    display: inline-flex;
    justify-content: space-between;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 11;
    background: #333;
    height: 75px;
    top: 0px;
    z-index: 5;
    transition: .225s ease-out;
}


.closedMenu{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: background-color 0.15s linear;
}

.openedMenu{
    background: rgb(26, 25, 25);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 12; 
    overflow: auto; 
    position: fixed;
    right: 0px;  
    opacity: 1;
    -webkit-transition: background-color 0.15s linear;
    transition: background-color 0.15s linear;
}

.openedMenu .burgerMenu{
    text-align: -webkit-right;
}

.openedMenu ul{
    padding:  100px 10%;
    /* text-align: center; */
}
.openedMenu ul li a {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: poppins;
    color:#aaa
}
.openedMenu ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.burgerMenu {
    display:none;
    cursor: pointer;
    padding: 20px;
}




  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

@media only screen and (min-width:1500px){
    .stycky{
        justify-content: space-around;
    }
    .row{
        justify-content: space-around;
    }
}

.row{
    display: inline-flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    transition: .225s ease-out;

}

.col-md-6{
    padding-left: 20px;
    padding-right: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
}
.navigation{
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo1{
    height: 70px;
}

.subMenu ul{
    background: #000;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 182px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.nav-item:last-child  .subMenu ul{
    right: 0px;
}

 

.subMenu ul li a{
    text-decoration: none;
    line-height: 1.4;
    padding: 20px 15px 5px 15px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.nav-link{
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 12.5px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.6;
    padding: 25px 15px;
    letter-spacing: 1px;
    text-decoration:none

}

.nav-item{
    display: inline-block;
    position: relative;
}

.nav-item a{
    color: #fff;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 12.5px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.6;
    padding: 25px 15px;
    letter-spacing: 1px;

}

.nav-item:hover .subMenu ul{
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width:1024px){
    nav{
        display: none;
      }
    .burgerMenu{
        display: block;
    }
}