.history-page{
    width: 100%;
    height: 336px;
}

.history-page img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 61% 26%;
    filter: brightness(1) !important;
}

.history article{
    background-color: rgba(188,174,173,0.13);;
}

.inline-text{
    display: inline-flex;
}
.history article{
    max-width: 1345px;
    margin: auto;
}

.history article h1{
    text-align: center;
}
.art-img{
    margin-right: 20px;
}
.history article p{
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    color: #560000;
    font-size: 15.5px;
}
div:first-child img{
    filter: brightness(0.5);
}



@media only screen and (max-width:450px){
    .inline-text{
        display: block;
    }
    .art-img{
        margin: 0;
    }
    .art-img img{
        width: 100%;
    }
}