.doccard{
    margin: 10px  ;
    padding: 40px ;
    background: #f8f8f8;
    text-align: center;
    width: 280px;
    position: relative;
}

.cardContent h3{
    color: #444444 !important;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: -0.3px;
}

.docCards{
    justify-content: center;
    display:inline-flex;
    flex-wrap: wrap;
}

.doccard a{
    color: #560000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    position: absolute;
    bottom: 20px;
    left: 110px;
}
.doccard div img{
    filter: none !important;
}
@media only screen and (max-width:1024px){
    .doccard{
        width: 230px;
        margin: 0;
    }
    .doccard a{
        left: 85px;
    }
}
/* 
@media only screen and (max-width:880px){
    .doccard{
        padding: 0;
    }
} */

