.overlay1{
    background-image: url(../../images/bgoverlay.jpg);
    height: 559px;
    background-size: cover;
    position: fixed;
    /* bottom: 0px; */
      top: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      background-position: bottom;
  }

  section p{
    padding: 5px 10px;
    color: #560000 !important;
}

.phRow{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

.ph img{
  width: 100%;
  object-fit: cover;
}

.analiticHeading p{
  color:#dbab6b !important;
}
 
 