article h1, .big-cards h1{
    text-align: center;
    font-size: 40px;
}
.cardDescr h1{
    text-align: left;
}
article p{
    color: #560000 !important;
}

article ul li{
    margin: 7px;
}

.paintCards{
    width: 25%;
    height: 206px;
}

.paintCards img{
    width: 100%;
    height: 100%;
    filter: brightness(1) !important;
    
}

.images{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.cardImg{
    width: 40%;
    height: 350px;
    padding: 10px;
}

.cardImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 45%;
   
}

.main-card{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.cardDescr{
    width: 60%;
    padding: 10px;
    padding-top: 0;
}
.cardDescr h1{
    margin-top: 0;
}

@media screen and (max-width:1024px){
    .cardImg{
        height: 400px;
    }
}

@media screen and (max-width:767px){
    .images{
        display: block;
    }
    .paintCards{
        width: 100%;
        height: 500px;
        margin-bottom: 10px;
    }
    .paintCards img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .main-card{
        display: block;
    }
    .main-card .cardImg, .main-card .cardDescr{
        width: 100%;
        padding: 0;
    }
    .cardImg{
        height: 600px;
    }
    .cardImg img{
        width: 100%;
        object-position: 50% 35%;
    }
}

/* @media only screen and (max-width:1176px){
    .cardImg{
        width: 100% !important;
    }
    .cardImg img{
        width: 100%;
        object-fit: cover;
    }
}
@media only screen and (max-width:880px){
    .cardImg{
        width: 100% !important;
        height: unset;
         
    }
} */