.cards-big{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.CareerCard img{
    width: 50px;
    filter: brightness(1) !important;
}
.CareerCard{
    text-align: center;
    width: 550px;
    margin: 10px;
    background: #f8f8f8;
}
.CareerCard p{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: -0.3px;
    color: #560000 !important;
    width: 470px;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

@media only screen and (max-width:880px){
    .CareerCard{
        width: 100%;
    }
    .CareerCard p{
        word-break: break-all;
        width: 100%;
        padding: 0;
    }
}