 .decorSec, .images{
     padding: 0 !important;
 }
 .decorSec h2{
     text-align: center;
 }
 .cardDescr h2{
     margin-top: 0;
     margin-bottom: 20px;
 }
 .cardDescr ul li{
     list-style: none;
     /* margin-bottom: 20px; */
 }