.globalDescription{
    display: block;
    text-align: center;
    background: white;
    margin-top: 10px;
}
.descripRow{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.descripRow{
    width: 100%;
    margin: auto;
}
.descText{
    padding-top: 0 !important;
    padding: 10px;
    width: 40%;
}
.descText h2{
    margin-top: 0;
    text-align: left;
}
em,p,b,h1,h2,h3,h4,h5,h6,span,div{
    font-family: 'Playfair Display', serif;
}
.descText em b{
    color: #560000;
}
.descText p{
    color: #999999;
}
.descText a{
    color:#aaa
}
.link{
    text-align: right;
}
.descSlider{
     width: 57%;
    margin: auto;
    /* height: 400px; */
}
/* @media only screen and (max-width:1370px){
    .descripRow{
        width: 1250px;
    }
} */



@media only screen and (max-width:880px){
    .descripRow{
        display: block;
        width: 85%;
    }   
    .descSlider, .descText{
        width: 100%;
    } 
    
}
