 .adm-images{
	 display: inline-flex;
	 flex-wrap: wrap;
     width: 100%;
     justify-content: space-around;
 }
 .admImg img{
     width: 100%;
 }

 table,tr{
    border:1px solid black;
    padding: 5px 10px;
}
.headers:first-child{
    height: 65px;
}

.headers{
    padding: 2px;
}

 
.all{
	border: 1px solid #000;
	padding: 2px;
}

.admBtn{
	height: 58px;
	width: 600px;
	background-color: rgb(65, 25, 25);
	text-align: center;
}
.admBtn a{
	position: relative;
	top: 10px;
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 25px;
}
.admHeading{
	margin-top: 50px;
	display: inline-flex;
	/* max-width: 1400px; */
	width: 100%;
	justify-content: center;
}
.admTitle{
	width: 600px;
	text-align: center;
}
.sectitle{
	text-align: center;
}
.sectitle h1{
	font-family: none !important;
}
.admArt{
	text-align: left;
 }

.admImg{
	width: 40%;
	/* height: 400px; */
}

.cont li b{
	text-decoration-line: underline;
}

h1,h2,h3,h4,h5,h6,p,b,span,li,div{
	color: #570707;
}
/* li{
	margin-bottom: 10px;
} */
.admImg{
	height: unset;
}

@media only screen and (max-width:420px){
	.admArt{
		padding: 0 !important;
	}
	.overview-page{
		height: 110px !important;
		background-repeat: no-repeat;
	}
}