table,
th,
td {
	border: 1px solid black;
    padding: 5px 10px;
   
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.elementor-681 .elementor-element.elementor-element-97e982f .elementor-text-editor {
    text-align: justify;
}