.all-card{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.docCards{
    background: white;
    padding-bottom: 60px;

}
.cvLUPJ{
    background-color:#670000 !important;
    box-shadow:none !important
}
.gOSjQy{
    box-shadow: none !important;
    background-color: gray !important;
}
.cardContent p{
    text-align: center !important;
    color: #9e9e9e;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
}

.allcards{
    padding: 40px;
    width: 300px;
    text-align: center;
    background-color:rgba(188,174,173,0.13);
    margin:10px;
}
.grpArt{
    background: white;
}
.overlaygr{
    background-image: url(../../images/gr1.jpg);
    height: 559px;
    background-size: cover;
    position: fixed;
    /* bottom: 0px; */
      top: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      background-position: bottom;
  }
.overlaygr2{
    /* height: calc(100vh - 400px); */
    width: calc(100vw - 300px);
    background: rgba(96,14,10,0.41);
    margin: auto;
    margin-top: 5%;

}
  .bgGr{
      height: calc(100vh - 200px);
      padding: 0 !important;
  }
  .bgoverlayGR{
      text-align: center;
      padding: 90px;
  }
.bgoverlayGR h1{
    font-family: "Amatic SC", sans-serif;
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 9.4px;
    color:white;
    word-break: break-all;
}

.bgoverlayGR a{
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    color:white;
}
.grpArt h1{
    margin-top: 0;
}
@media screen and (max-width:1024px){
    .bgGr{
        height: 100vh;
    }
}

@media screen and (max-width:767px){
    .bgoverlayGR{
        padding: 15px;
    }
    .bgoverlayGR h1{
        font-size: 20px;
    }
    .overlaygr2{
        width: calc(100vw - 16px);
    }
    .bgGr{
        height: 25vh;
    }
}
@media screen and (max-width:420px){
    .doccard{
        padding: 30px !important;
    }
}
/* @media only screen and (max-width:880px){
    .bgoverlayGR{
        padding: 0;
    }
    .bgGr{
        height: 600px;
    }
    .allcards{
        padding: 0;
    }
    .bgoverlayGR h1{
        font-size: 36px;
    }
} */
