body {
  margin: 0;
  font-family: "Heebo",Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
p{
    color: #5b5b5b !important;
    font-family: 'Heebo', sans-serif;
    font-size: 15.5px;
    font-weight: 300;
    line-height: 2
}


